 <div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Publicaciones</h4>
                <p class="card-category">Sistema para realizar publicaciones</p>
                <div class="row">
                    <div class="col-12">
                      
                    </div>
                </div>
            </div> -->
             <div class="card-body">
                <div id="typography">
                    <div class="card-title">
                        <h2>Publicación</h2>
                    </div>  
                     <!-- <md-card *ngIf="contactoOriginal">
                        <md-card-title>
                            Edicion del contacto
                        </md-card-title>
                        <md-card-content>
                            <form novalidate[[formGroup]="form"(ngSubmit)="onGuardar()" >
                                <md-input-container>
                                    <input type="text" placeholder="Nombre" formControlName="nombre">
                                </md-input-container>
                                <md-input-container>
                                    <input type="text" placeholder="Texto" formControlName="texto">
                                </md-input-container>
                                <md-input-container>
                                    <input type="text" placeholder="Prioridad" formControlName="prioridad">
                                </md-input-container>
                                <md-input-container>
                                    <input type="text" placeholder="Fecha" formControlName="fecha">
                                </md-input-container>
                                <md-input-container>
                                    <input type="text" placeholder="Tipo" formControlName="tipo">
                                </md-input-container>
                                <button type="submit" md-button>Guardar</button>
                                <button type="button" md-button (click)="onCancelar">Cancelar</button>
                            </form>
                        </md-card-content>
                    </md-card> 
                         -->
                 </div>
            </div>
        </div>
    </div>
</div>